body {
    padding: 0%;
    margin: 0%;

    background: #ECF2FF;
}
.parent-container{
    width: 100%;
    padding: 10rem 10rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: whitesmoke;

}
.result{
    width: 50%;
    height:70% ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1px solid red;
    background-color: white;
}
.result-text{
    align-self:first baseline;
    color: black;
    padding: 2px;
}
.summary{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid greenyellow;
    /* background-color:blueviolet; */
    background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);

    display: flex;
    justify-content: center; 
    /* center horizontaly */
    align-items: center;
     /* Center vertically */
}
.summary-text{
    align-self:first baseline;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid yellowgreen;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:    linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
    ;
}
.overall-grade{
    font-size: 1rem;
    color: #CAC9FF;
}

.great-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
.great{
    text-align: center;
}
.great-text{
    text-align: center;
}

    

.summary-wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    height: 26px;

  }
  
  /* Styles for the left side */
  .reaction .left {
    color: red;
  }
  
  /* Styles for the right side */
  .reaction .right {
    text-align: right;
    color: red;

  }
  
  .memory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    height: 26px;
    margin: 8px;
  }
  
  /* Styles for the left side */
  .memory .left {
    color: red;
  }
  
  /* Styles for the right side */
  .memory .right {
    text-align: right;
    color: red;
  }
  
  .verbal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    height: 26px;
    margin: 8px;
  }
  
  /* Styles for the left side */
  .verbal .left {
    color: red;
  }
  
  /* Styles for the right side */
  .verbal .right {
    text-align: right;
    color: red;
  }

    
  .visual{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    height: 26px;
    margin: 8px;
  }
  
  /* Styles for the left side */
  .visual .left {
    color: red;
  }
  
  /* Styles for the right side */
  .visual .right {
    text-align: right;
    color: red;
  }

  button{
    padding: 2px;
    border-radius: 128px;
    background: var(--dark-navy, #303B59);
    border-radius: 4px;
    cursor: pointer;
  }

